extends ./../layout/main

block content 
    h1 #{msg}
    table.table.table-responsive
        thead
            tr
                th # 
                th Event Name
                th Event Desc 
                th Actions

        tbody 
            each event in events
                tr                 
                    td= event.id 
                    td= event.name 
                    td= event.description
                    td  
                        a(href="/events/" + event.id, class="btn btn-info") More
                        a(href="/events/edit/" + event.id, class="btn btn-info") Edit
                        form(method="POST", action="/events/" + event.id, style="display:inline-block")
                            input(type="hidden", name="_method", value="DELETE")
                            button.btn.btn-danger(type="submit") Delete
