html 
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        nav(class="navbar navbar-tobbleable-md navbar-light bg-faded")
            button(class="navbar-toggler navbar-toggler-right", type="button", data-toggle="collapse", data-target="#navbar")
                span(class="navbar-toggler-icon")
            a.navbar-brand Events    

            div(id="navbar", class="collapse navbar-collapse")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item")
                        a(href="/events", class="nav-link") List
                    li(class="nav-item")    
                        a(href="/events/new", class="nav-link") New

        main.container
            div.row
                div.col-xs-12.col-sm-12.col-md-12
                    block content

        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")